<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderDetailMapper">
    <insert id="insertBatch">
        insert into order_detail
        (name, image, order_id, dish_id, setmeal_id, dish_flavor, amount)
        values
        <foreach collection="orderDetails" item="orderDetail" separator=",">
            (#{orderDetail.name}, #{orderDetail.image}, #{orderDetail.orderId},
            #{orderDetail.dishId}, #{orderDetail.setmealId}, #{orderDetail.dishFlavor},
            #{orderDetail.amount})
        </foreach>
    </insert>
    <select id="countSalesTop10Between" resultType="com.sky.dto.SalesCountDTO">
        select name, sum(od.number) as count
        from order_detail od
                 join `order` o
                      on order_id = o.id and o.status = 5 and o.order_time between #{begin} and #{end}
        group by name
        order by count desc
        limit 0, 10
    </select>
    <select id="getByOrderIds" resultType="com.sky.entity.OrderDetail">
        select id, name, image, order_id, dish_id, setmeal_id, dish_flavor, number, amount
        from order_detail
        where order_id in
        <foreach collection="orderIds" item="orderId" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </select>
</mapper>